body {
  text-align: center;
  background-color: #011F3F;
}
#btn1{
  display: none;
}
#btn1:checked ~ #instr{
  left: 0px;
}
#btn1:checked ~ #btn2{
  left: -200px;
}
#instr{
  position: absolute;
  top: 0;
  left: -500px;
  height: 100%;
  width: 250px;
  background-color: white;
  opacity: 0.3 ;
  transition: 0.7s ease-in ;
  text-align: left;
  line-height: 30px;
  font-weight: bold;
  font-size: large;
  padding: 8px;
}
#btn2{
  font-family: 'Press Start 2P', cursive;
  float: left;
  position: relative;
  left:30px;
  top: 125px;
  font-size: smaller;
  text-decoration: none;
  color: violet;
  transition: 0.7s ease-in;
}
#btn2:hover{
  transform: scale(1.1);
}
#cross{
  color: wheat;
  position: absolute;
  top: 30px;
  left: 200px;
}
#cross:hover{
  transform: scale(1.2);
}
#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  padding-right: 130px;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
